<div class="banner">
  <div class="container text-left pl-2" style="background-image: 
  linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)), 
  url('<%= cl_image_path @ship.photo.key %>')">
    <h1>My beautiful sea</h1>
    <p>Shark 24</p>
  </div>
</div>

<div class="container pt-4 pb-5">
  <h2>Ship characteristics</h2>

</div>