<div class="banner img-banner" style="background-image:
  linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), 
  url('<%= cl_image_path @ship.photo.key %>');">

  <div class="container text-left pl-2">
    <h1><%= @ship.name %></h1>
    <p class="p-header text-white"><%= @ship.location %></p>
    <!-- card -->
    <div class="card-product card-banner">
      <div class="card-product-infos card-text">
        <h2 class="banner-h2 text-center">Great deal</h2>
        <button class="card-text-button">Book now</button>
      </div>
    </div>  
  </div>
</div>

<div class="container pt-4 pb-5">
  <h2 class="pt-5 pb-3">Ship characteristics</h2>
  
</div>