
.card-text {
  text-align: center;
}

.card-text h2 {
  font-size: 30px;
  margin: 50px auto 30px;
}

.card-text-button {
  border: none;
  padding: 25px 65px;
  background-color: #6a93c2;
  color: white;
  font-weight: 600;
  transition: .3s;
}

.card-text-button:hover {
  background-color: #729ac7;
}

.card-product {
  justify-content: center;
}

.card-text, 
.card-banner {
  width: 350px;
  height: 280px;
}
.card-banner {
  position: absolute;
  top: 300px;
  right: 120px;
}