.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: 'Nunito';
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand img {
  transition: .3s;
}

.navbar-brand img:hover {
  opacity: .8;
}
